{% extends "base.html" %}

{% block title %}{{ get_text('dashboard') }}{% endblock %}

{% block content %}
<div class="dashboard-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
    
    <h1>🌾 {{ get_text('welcome') }}, {{ session['username'] }} 🌾</h1>
    <p style="color: rgb(101, 62, 2); margin-bottom: 25px;">{{ get_text('dashboard choose') }}</p>
    
    <div class="dashboard-buttons">
        <a href="{{ url_for('post_job') }}">📢 {{ get_text('post job') }}</a>
        <a href="{{ url_for('search_jobs') }}">🔍 {{ get_text('search jobs') }}</a>
        <a href="{{ url_for('saved_jobs') }}">❤️ {{ get_text('liked jobs') }}</a>
        <a href="{{ url_for('post_animal') }}">🐎 {{ get_text('sell animals') }}</a>
        <a href="{{ url_for('search_animals') }}">🐄 {{ get_text('search animals') }}</a>
        <a href="{{ url_for('saved_animals') }}">🦮 {{ get_text('saved animals') }}</a>
        <a href="{{ url_for('edit_profile') }}">📝 {{ get_text('edit profile') }}</a>
        <a href="{{ url_for('logout') }}">🚪 {{ get_text('logout') }}</a>
    </div>
</div>
{% endblock %}
